@{
    string teacherName = string.Empty;
    if (string.IsNullOrEmpty(Model.SecondName))
        teacherName = Model.FirstName + Model.LastName;
    else
        teacherName = Model.FirstName + Model.SecondName + Model.LastName;
    string teacherNamePath = teacherName.Replace(" ", "");

    List<string> galleryPhotoPaths = new();

    if (!string.IsNullOrEmpty(Model.GalleryPhotoPath1))
        galleryPhotoPaths.Add(Model.GalleryPhotoPath1);
    if (!string.IsNullOrEmpty(Model.GalleryPhotoPath2))
        galleryPhotoPaths.Add(Model.GalleryPhotoPath2);
    if (!string.IsNullOrEmpty(Model.GalleryPhotoPath3))
        galleryPhotoPaths.Add(Model.GalleryPhotoPath3);
    if (!string.IsNullOrEmpty(Model.GalleryPhotoPath4))
        galleryPhotoPaths.Add(Model.GalleryPhotoPath4);
    if (!string.IsNullOrEmpty(Model.GalleryPhotoPath5))
        galleryPhotoPaths.Add(Model.GalleryPhotoPath5);
    if (!string.IsNullOrEmpty(Model.GalleryPhotoPath6))
        galleryPhotoPaths.Add(Model.GalleryPhotoPath6);

    Dictionary<string, string> featuredInPhotoPathsAndLinks = new();
    if (!string.IsNullOrEmpty(Model.FeaturedInPhotoPath1) &&
        !string.IsNullOrEmpty(Model.FeaturedInLink1))
        featuredInPhotoPathsAndLinks.Add(Model.FeaturedInPhotoPath1, Model.FeaturedInLink1);
    if (!string.IsNullOrEmpty(Model.FeaturedInPhotoPath2) &&
        !string.IsNullOrEmpty(Model.FeaturedInLink2))
        featuredInPhotoPathsAndLinks.Add(Model.FeaturedInPhotoPath2, Model.FeaturedInLink2);
    if (!string.IsNullOrEmpty(Model.FeaturedInPhotoPath3) &&
        !string.IsNullOrEmpty(Model.FeaturedInLink3))
        featuredInPhotoPathsAndLinks.Add(Model.FeaturedInPhotoPath3, Model.FeaturedInLink3);
    if (!string.IsNullOrEmpty(Model.FeaturedInPhotoPath4) &&
        !string.IsNullOrEmpty(Model.FeaturedInLink4))
        featuredInPhotoPathsAndLinks.Add(Model.FeaturedInPhotoPath4, Model.FeaturedInLink4);
    if (!string.IsNullOrEmpty(Model.FeaturedInPhotoPath5) &&
        !string.IsNullOrEmpty(Model.FeaturedInLink5))
        featuredInPhotoPathsAndLinks.Add(Model.FeaturedInPhotoPath5, Model.FeaturedInLink5);

    Dictionary<string, string> socialLinks = new();
    if (!string.IsNullOrEmpty(Model.InstagramLink))
        socialLinks.Add("Instagram", Model.InstagramLink);
    if (!string.IsNullOrEmpty(Model.FacebookLink))
        socialLinks.Add("Facebook", Model.FacebookLink);
    if (!string.IsNullOrEmpty(Model.TwitterLink))
        socialLinks.Add("Twitter", Model.TwitterLink);
    if (!string.IsNullOrEmpty(Model.PinterestLink))
        socialLinks.Add("Pinterest", Model.PinterestLink);

}


@{
    ViewData["Title"] = @teacherName + " Eğitmen Sayfası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model Pan.Models.DbClasses.Instructors

@section Title{
    <title>@teacherName Eğitmen Sayfası</title>
}
@section KeywordsandDescription{
    <meta name="keywords" content="Yoga Eğitimi,Etkinlik,Challenge,Pilates Eğitimi,Aletli Reformer,Pilates Ürünleri, @teacherName">
    <meta name="description" content="Eğitmen @teacherName hakkında bilgiler içerir.">
}
@section AdditionalCss{

    <style>
        .media-holder {
            width: 100%; 
            height: 450px;
            background-size: cover;
            background-position: left;
            border: 1px solid #ccc;
        }
    </style>
}


<!-- - - - - - - - - - - - - - Hakkımda - - - - - - - - - - - - - - - - -->
<div class="media-holder about-us" style="background-image: url('@Url.Content("~/images/Teachers/" + teacherNamePath + "/" + Model.PhotoPathForAboutMe)');">
    
    <div class="container wide3">

        <div class="media-inner left-side">
            <h1 class="call-title" style="color:white">Hakkımda</h1>
        </div>

    </div>

</div>


<div id="content">

    <!-- Sub1 Biografi -->
    <div class="page-section half-bg-col var2">

        <div class="img-col-left">
            <div class="col-bg" style="background-image: url('@Url.Content("~/images/Teachers/" + teacherNamePath + "/" + Model.PhotoPathForAboutMeSub1)');">
            </div>
        </div>
        
        <div class="container wide2">

            <div class="row align-content-center">

                <div class="col-lg-6"></div>
                <div class="col-lg-6">

                    <h3 class="title">@teacherName Biografisi</h3>

                    <p class="content-element3 text-size-medium fw-medium">@Model.Bio</p>

                </div>

            </div>

        </div>

    </div>

    <!-- Sub2 Hayat ve Eğitim Felsefesi -->
    <div class="page-section half-bg-col var2">

        <div class="img-col-right video-holder"><div class="col-bg" style="background-image: url('@Url.Content("~/images/Teachers/" + teacherNamePath + "/" + Model.PhotoPathForAboutMeSub2)');"></div></div>

        <div class="container wide2">

            <div class="row align-content-center">

                <div class="col-lg-6">

                    <h3 class="title">Hayat ve Eğitim Felsefesi</h3>
                    <p>
                        @Model.PhilosophyAndEducationStyleMainSentence
                    </p>
                    <p>
                        <span class="text-size-medium fw-medium">Hayat Felsefesi</span> <br>
                        @Model.PhilosophyAndEducationStylePhilosophy
                    </p>

                    <p>
                        <span class="text-size-medium fw-medium">Eğitim Tarzı </span> <br>
                        @Model.PhilosophyAndEducationStyleEducationStyle
                    </p>

                    <p>
                        <span class="text-size-medium fw-medium">Eğitim Odağı </span> <br>
                        @Model.PhilosophyAndEducationStyleFocus
                    </p>

                </div>
                <div class="col-lg-6"></div>

            </div>

        </div>

    </div>

    <!-- Galeri -->
    @if (galleryPhotoPaths.Count > 0)
    {
        <div class="page-section">

            <div class="container">

                <div class="content-element5">
                    <h3 class="align-center">Fotoğraf Galerisi</h3>
                </div>

                <div class="portfolio-holder flex-row item-col-3">

                    @foreach(string item in galleryPhotoPaths)
                    {
                        <div class="project">

                        <!-- - - - - - - - - - - - - - Project Image - - - - - - - - - - - - - - - - -->

                        <div class="project-image">

                                <img src="~/images/Teachers/@teacherNamePath/@item" alt="@teacherName">

                                <a href="~/images/Teachers/@teacherNamePath/@item" class="project-link" data-fancybox="group"></a>

                        </div>

                        <!-- - - - - - - - - - - - - - End of Project Image - - - - - - - - - - - - - - - - -->

                    </div>
                    }

                </div>

            </div>

        </div>
    }
    <!-- Bahsedildi -->
    @if (featuredInPhotoPathsAndLinks.Count > 0)
    {
    <div class="page-section-bg">

        <div class="container wide2">

            <div class="content-element6">
                <h4 class="section-title align-center">Bahsedildi</h4>
            </div>
            @foreach(var item in featuredInPhotoPathsAndLinks)
            {
                <div class="brand-holder">

                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-6 col-no-space">

                                <a href="~/images/Teachers/@teacherName/@item.Value" class="brand-item"><img src="~/images/Teachers/@teacherName/@item.Key" alt=""></a>

                        </div>
                    </div>

                </div>
            }
        </div>

    </div>
    }
    
    <!-- Sosyal Medya -->
    @if(socialLinks.Count > 0)
    {
    <div class="page-section">

        <div class="container wide2">

            <div class="row">
            @foreach(var item in socialLinks)
                @if(item.Key == "Instagram")
                {
                <div class="col-lg-8 col-md-12">

                    <div href="@item.Value" class="insta-title align-center">

                                    <i  class="icon-instagram-5"></i>
                                    <a href="@item.Value"> <h5>Instagram'dan Takip Et</h5></a>

                    </div>
                    <div id="instafeed" class="instagram-feed style-2 var2" data-instagram="5"></div>

                </div>
                }
                else if (item.Key == "Twitter")
                {
                    <div class="col-lg-8 col-md-12">

                        <div href="@item.Value" class="insta-title align-center">

                            <i class="icon-twitter-5"></i>
                                    <a href="@item.Value"><h5>Twitter'dan Takip Et</h5></a>

                        </div>
                        <div id="instafeed" class="instagram-feed style-2 var2" data-instagram="5"></div>

                    </div>
                }
                else if (item.Key == "Pinterest")
                {
                    <div class="col-lg-8 col-md-12">

                        <div class="insta-title align-center">

                            <i  class="icon-instagram-5"></i>
                                    <a href="@item.Value"><h5>Pinterest'ten Takip Et</h5></a>

                        </div>
                        <div id="instafeed" class="instagram-feed style-2 var2" data-instagram="5"></div>

                    </div>
                }
                else
                {
                <div class="col-lg-4 col-md-12">

                    <div class="insta-title align-center">

                        <i class="icon-facebook-squared"></i>
                                    <a href="@item.Value"><h5>Facebook'ta Beğen</h5></a>

                    </div>

                    <div id="fb-root"></div>
                    <script>
                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=480919338591874';
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>

                    <div class="fb-page" data-href="https://www.facebook.com/envato" data-width="500" data-height="205" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>

                </div>
                }
            </div>

        </div>

    </div>
    }
</div>

